@model IEnumerable<Workforce.Models.Exercise>

@{
    ViewData["Title"] = "Exercise List";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var exercise in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => exercise.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@exercise.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@exercise.Id">Details</a> |
                <a asp-action="DeleteConfirm" asp-route-id="@exercise.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
